<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pearson Specter | Dashboard</title>

    <!-- favicon -->
    <link rel="icon" href="assets/img/PSwhite.png" type="image/png" sizes="32x32" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="assets/plugins/fontawesome-free/css/all.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
    <!-- iCheck -->
    <link rel="stylesheet" href="assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
    <!-- JQVMap -->
    <link rel="stylesheet" href="assets/plugins/jqvmap/jqvmap.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="assets/css/adminlte.min.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="assets/css/custom.css" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" />
    <!-- Daterange picker -->
    <link rel="stylesheet" href="assets/plugins/daterangepicker/daterangepicker.css" />
    <!-- summernote -->
    <link rel="stylesheet" href="assets/plugins/summernote/summernote-bs4.min.css" />
    <!-- Select2 -->
    <link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

    <!-- Date Range -->
    <link rel="stylesheet" href="assets/plugins/daterangepicker/daterangepicker.css">


    <!-- Custom Styles Here  -->
    <link id="ps_external_stylesheet" href="" rel="stylesheet" type="text/css" />
    <link id="ps_external_stylesheet1" href="" rel="stylesheet" type="text/css" />
    <link id="ps_external_stylesheet2" href="" rel="stylesheet" type="text/css" />
    <link id="ps_external_stylesheet3" href="" rel="stylesheet" type="text/css" />
    <link id="ps_external_stylesheet4" href="" rel="stylesheet" type="text/css" />
    <link id="ps_external_stylesheet5" href="" rel="stylesheet" type="text/css" />
    <link id="ps_external_stylesheet6" href="" rel="stylesheet" type="text/css" />
    <link id="ps_external_stylesheet7" href="" rel="stylesheet" type="text/css" />
    <link id="ps_external_stylesheet8" href="" rel="stylesheet" type="text/css" />
    <link id="ps_external_stylesheet9" href="" rel="stylesheet" type="text/css" />
</head>

<body id="ps_main_body"></body>