<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="Home.html" class="brand-link text-center">
        <img src="img/PSwhite.png" alt="Logo" style="width: 7rem !important" />
        <span class="brand-text font-weight-light d-none">.</span>
    </a>

    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="pages/widgets.html" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="pages/widgets.html" class="nav-link">
                        <i class="nav-icon fas fa-folder"></i>
                        <p>Manage Documents</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/widgets.html" class="nav-link">
                        <i class="nav-icon fas fa-chart-bar"></i>
                        <p>Manage Department</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/widgets.html" class="nav-link">
                        <i class="nav-icon fas fa-user-alt"></i>
                        <p>Manage Client</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/widgets.html" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Manage User</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/widgets.html" class="nav-link">
                        <i class="nav-icon fas fa-user-alt"></i>
                        <p>Manage Role</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="Upload.html" class="nav-link">
                        <i class="nav-icon fas fa-folder"></i>
                        <p>Upload Documents</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="ITdept.html" class="nav-link">
                        <i class="nav-icon fas fa-laptop"></i>
                        <p>Contact IT Department</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>

</aside>