<!-- Main Sidebar Container -->
<aside class="main-sidebar ps_sidebar_bg elevation-4">
    <!-- Brand Logo -->
    <a href="Home.html" class="brand-link text-center">
        <img src="assets/img/PSwhite.png" alt="Logo" style="width: 6.3rem !important" />
    </a>

    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link  ps_main_navigation_btn"  data-navparent="navbar_overall_parent" data-scripts="single::/dashboardAjax">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/document" class="nav-link ps_main_navigation_btn" data-navparent="navbar_overall_parent" data-scripts="single::/documentAjax">
                        <i class="nav-icon fas fa-folder"></i>
                        <p>Manage Documents</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/department" class="nav-link ps_main_navigation_btn" data-navparent="navbar_overall_parent" data-scripts="single::/departmentAjax">
                        <i class="nav-icon fas fa-chart-bar"></i>
                        <p>Manage Department</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/privilege" class="nav-link ps_main_navigation_btn" data-navparent="navbar_overall_parent" data-scripts="single::/privilegeAjax">
                        <i class="nav-icon fas fa-user-alt"></i>
                        <p>Manage Privileges</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/user" class="nav-link ps_main_navigation_btn" data-navparent="navbar_overall_parent" data-scripts="single::/userAjax">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Manage User</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/role" class="nav-link ps_main_navigation_btn" data-navparent="navbar_overall_parent" data-scripts="single::/roleAjax">
                        <i class="nav-icon fas fa-user-alt"></i>
                        <p>Manage Role</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/document" class="nav-link ps_main_navigation_btn" data-navparent="navbar_overall_parent" data-scripts="single::/documentAjax
                    ">
                        <i class="nav-icon fas fa-folder"></i>
                        <p>Upload Documents</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link ps_main_navigation_btn" data-navparent="navbar_overall_parent" data-scripts="single::/contactAjax
                    ">
                        <i class="nav-icon fas fa-laptop"></i>
                        <p>Contact IT Department</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>

</aside>